<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Rango About</title>
    </head>
    <body>
        <h1>About Rango...</h1>
            <div>
                Hey there partner! <br />
                This tutorial has been put together by <strong>{{ name }}</strong><br />
            </div>
            <div>
                <a href="/rango/">Index</a><br />
                <img src="{% static 'images/rango_2.jpg' %}" alt="Picture of Rango" />
            </div>
    </body>
</html>