{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Rango About
{% endblock %}

{% block body_block %}
    <h1>About Rango...</h1>
    <div>
        {% if user.is_authenticated %}
                Howdy {{ user.username }}! You have visited Rango {{ visits }} times.
            {% else %}
                Hey there partner!
            {% endif %} <br />
        This tutorial has been put together by <strong>{{ name }}</strong><br />
    </div>
    <div>
        <img src="{% static 'images/rango_2.jpg' %}" alt="Picture of Rango"
        width=600 height=320/>
    </div>
{% endblock %}
